 <div class="footer">
  <div class="footer-copyright">
    <div class="footer-copyright">
      This app was developed by:
    </div>
  </div>
      <div class="footer-links">
        <%= link_to "https://www.linkedin.com/in/ana-luisa-campos/", target: "blank", class: "dev" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/darkwings28", class: "avatar" %>
          <% end %>
          <%= link_to "https://www.linkedin.com/in/praecipito/", target: "blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/praecipito", class: "avatar" %>
          <% end %>
          <%= link_to "https://www.linkedin.com/in/ronalde-monezzi/", target: "blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ronmon80", class: "avatar" %>
          <% end %>
          <%= link_to "https://www.linkedin.com/in/andre-menezes-developer/", target: "blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/dedemenezes", class: "avatar" %>
          <% end %>
      </div>

  </div>
