<div class="container">
  <div class="row justify-content-center" data-controller="favorite-preferred_channels" data-favorite-preferred_channels-url-value="/fan/favorite_preferred_channelss">
    <div class="col-12 col-md-8 col-lg-3">
      <%= simple_form_for @preferred_channel do |f| %>
        <h1 class="question">Qual canal de comunicação você prefere?</h1>
          <%= f.input :string, collection: Fan::PreferredChannel::CHANNEL.sort_by { _1 }, label: false, wrapper_html: { data: { favorite_preferred_channels_target: 'wrapper' } }, input_html: { data: { favorite_preferred_channels_target: 'input', action: 'change->favorite-preferred_channels#update keyup->favorite-preferred_channels#update' } }  %>
        <div class="d-flex justify-content-center">
          <%= button_tag 'Confirmar Bebida', type: :button, class: 'btn btn-success w-100 d-none', data: { action: 'click->favorite-preferred_channels#match', favorite_preferred_channels_target: 'match' } %>
        </div>
        <div class="row justify-content-center d-none" data-favorite-preferred_channels-target='card'>
          <div class="col-12">
            <!-- Aqui, você pode renderizar um partial específico ou alguma representação visual associada à bebida favorita -->
            <%= render 'fan/fifa_card' %>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <%= f.submit 'Próximo', class: 'btn btn-success w-50 mt-3', data: { favorite_preferred_channels_target: 'submit' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
